/*#e67b93*/

@font-face{
font-family: 'MyWebFont';
src: url('../fonts/Baskerville Cyrillic Roman.ttf');
font-weight: normal;
font-style: normal;
}
html{
	font-size: 16px;
}
body{
	font-family:  'Open Sans', sans-serif;
	
}
h1,h2,h3,h4,h5{
	font-family:"Baskerville Cyrillic Roman";
}
li{
/*	list-style: none;*/
}
a{
	text-decoration: none;
	display: block;
}
p{
	font-size: 1.2rem;
	font-weight: 400;
	line-height: 2rem;
	vertical-align: bottom;
}

.spn_14{
	font-size:0.8rem;
	font-weight: 300;
	text-align: center;

}
h1{
	font-size: 4.5rem;
	font-weight: 400;
	margin:0.1rem 0 2.4rem;
}
h2{
	font-size: 2.25rem;
	font-weight: 300;
	color: #000;
	text-align: center;

}
h3{
	font-size: 4.2rem;
	font-weight: 400;
	color: #000;
	text-align: center;
}
h4{
	font-size: 1.5rem;
	font-weight: bold;
	color: #424242
}
h5{
	font-size: 1.6rem;
	font-weight: bold;
	color: #000;
	line-height: 2.5rem;
}
.zag_wrap{
	display: flex;
	justify-content: center;
	flex-flow: column;
    text-align: center;
}
.about .zag_wrap{
	margin-bottom: 3.75rem;
}
.about .zag_wrap h2{
	margin: 2.5rem 0;
}
.well1{
	margin-bottom: 6.5rem;
}
.well2{
	margin-bottom: 6rem;
}
.well3{
	margin-bottom: 5.75rem;
}
.punck{
	color:#e67b93; 
}
.blue{
	color: #265284;
}
.punck_gradient{
	background: linear-gradient(45deg, rgba(242,95,90,1) 0%, rgba(199,44,142,1) 34%, rgba(123,66,189,1) 99%, rgba(123,66,189,1) 100%);
}
.black{
	background: #000;
}
/*=============== header ===================*/

.header{
	display: flex;
	flex-flow: column;
	justify-content: center;
	height: 100%;
	position: relative;
	text-align: center;
	color: #fff;
}
.header a{
	color: #dec8ba;
	letter-spacing: 3px;
	font-size: 0.8rem;
	font-weight: 500;
	margin-bottom: 2.8rem
}
.header h2{
	color: #fff;
}
.header p{
	margin-bottom: 1.2rem;
	padding:0 20px;
	
}
.ancor-svg{
	width: 100%;
	position: absolute;
	left: 0;
	height: 1.25rem;
	bottom: 0px;
	z-index: 200;
}
.fullscreen-bg {
    overflow: hidden;
    z-index: 0;
    position: relative;
    height: 100%;
    width: 100%;
    padding-top:45%;
}
 
.fullscreen-bg__video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.overlay_opacity {
    background: rgba(0,0,0,0.5);
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.content {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.content h2 {
	text-align: center;
	font-size: 30px;
}

.content p {
	text-align: justify;
	font-size: 20px;
}
 
@media (max-width: 767px) {
	html{
		font-size: 14px;
	}
	h1{
		font-size: 3rem;
	}
	.fullscreen-bg {
		background: url('../img/plane.jpg') center center / cover no-repeat;
		 height: 350px;
	}

	.fullscreen-bg__video {
		display: none;
	}

	.overlay h1 {
	    font-size:;
	}
}
@media (max-width: 467px){
	h1{
		font-size: 2rem;
		margin:0.1rem 0 2rem; 
	}
	h2{
		font-size: 1.8rem;
	}
	.form-group .btn{
		width: 100%;
	}
}
.about .container-fluid{
	overflow: hidden;
}
.about_img{
	width: 100%;
	height: 100%;
}
.about_img img{
	
}
.about li{
	margin:0 0 2rem 7rem;
line-height: 1.5rem;
	font-size: 1rem;
	position: relative;
}
.about li:nth-child(-n+4):before{
	content: '';
	position: absolute;
	width: 5px;
	height: 5px;
	background: #000;
	left: -40px;
	top: 8px;
	border-radius: 50%;
}

.about li:last-child{
   font-style:  italic;
	margin-top: 2rem;
		
}
.about ul{
    margin: 0 0 3rem 0;

}
@media (max-width: 1200px){
	.about ul{
    margin-bottom: 0rem;

}
	.about li:last-child{

	margin-top: 0rem;
		
}
	.about li{
			margin:0 0 1rem 120px;
	}
}
@media (max-width: 1200px){
	.about li p{
	font-size: 1rem;
	line-height: 1.2rem;
	}
}
@media (max-width: 980px){
	.about li{
	margin:0 0 0.8rem 60px;	
}

	.about ul{
		width: 100%;
		font-size: 0.8rem;
	}
}
@media (max-width: 767px){
	.about li{
	margin:0 0 0.8rem 20px;
}
	.about ul{
		width: 100%;
		font-size: 0.8rem;
	}
	.about li:nth-child(-n+4):before{
	left: -20px;

}
	
}
/*==================================================*/
.soc_grid{
	display: flex;
	flex-flow: row nowrap;
	justify-content: flex-start;
	align-items: center;
	font-size: 14px;
	margin-left: 120px;
	
}
.soc_grid a{
	line-height: 24px;
	vertical-align: middle;
	margin-right:10px;
}
.soc_grids_item{

	width: 30%;
	display: flex;
	flex-flow: row;
}
.fab{
	border-radius: 50%;
	color: #fff;
	margin-right: 5px;
}
.fa-vk{
	background: #265284;
	padding:6px 6px;
}
.fa-instagram{
	background: linear-gradient(90deg, rgba(242,95,90,1) 0%, rgba(199,44,142,1) 34%, rgba(123,66,189,1) 99%, rgba(123,66,189,1) 100%);
	padding:6px 7px;
}
@media (max-width: 980px){
		.soc_grid{
		margin-left: 60px;

	}
}
@media (max-width: 767px){
	.soc_grid{
		margin-left: 20px;

	}
	.soc_grids_item{
		width: 40%;
		
	}
}
@media (max-width: 467px){
	.soc_grid{
		margin-left: 20px;
		flex-flow: column;
		align-items: flex-start;
	}
		.soc_grids_item{
		width: 65%;
			margin-bottom: 8px;
		
	}
	.soc_grid a{
		margin-bottom: 8px;
	}
}
/*==================================================*/

/*================== bg_section =======================*/
.bg_section_1{
	background-image: url(../img/bg_sec_3.jpg);
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center bottom;
	position: relative;
	overflow: hidden;
	
}
.bg_section_2{
	background-image: url(../img/bg_sec_3.1.jpg);
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: 50% 10%;
	position: relative;
	overflow: hidden;
	
}
.bg_section_3{
	background-image: url(../img/bg_sec_footer.jpg);
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position:50% 100%;
	position: relative;
	overflow: hidden;
	
}
.bg_section_1:before,
.bg_section_2:before,
.bg_section_3:before{
	content: '';
	position: absolute;
	z-index: 1;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0.6); 
}

.bg_box{
	position: relative;
	z-index: 100;
	width: 100%;
	height: 100%;
	color: #fff;
	display: flex;
	width: 100%;
	height: 100%;
	flex-flow: column;
	justify-content: center;
	align-items: center;
	padding: 4.4rem 0 6.25rem; 
}
.bg_box h2{
	color: #fff;
}
.bg_box .desc{
	margin: 1.9rem 0 5rem;
	text-align: center;
	width: 100%;
}
.form{
	width: 767px;
	background: #272828;
	border-radius:5px  30px  30px 5px;
	border: 1px solid #3e3f3f;
}
.form-group{
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
}

.form-control{
	border: none;
	background: none;
	padding-left: 20px;
	font-size: 1rem;
	color:#272828;
	color: #fff;
}

@media (max-width: 767px){
	.bg_section_1{
	background-position: 10% 50%;
}
		.bg_section_2{
	background-position: 50% 0%;
}
	.bg_box .desc{
	margin: 1.5rem 0 2.2rem;
}
	.form{
		width: 467px;
	}
}
@media (max-width: 467px){
.form{
	width: 280px;
	display: flex;
	flex-flow: column wrap;
	justify-content: center;
    background: none;

	border: 0;
	}
		.bg_box .desc{
	margin: 1.2rem 0 2rem;
}
	.form-control{
		background: #272828;
		width: 100%;
		padding: 13px 13px;
		margin-bottom: 1rem;
		border-radius:5px;
		border: 1px solid #3e3f3f;
	}
	
}
footer{
	margin-top: 6.25rem;
}
footer h2{
	letter-spacing: 3px;
}
.form_footer{
	display: flex;
	flex-flow: column;
	width: 630px;
	margin-top: 50px;
}
.form-control_footer{
	background: none;
	border: none;
	border-bottom: 1px solid #3e3f3f;
	padding: 10px 0;
	margin: 20px 0 40px;
	color: #fff;
}
@media (max-width: 767px){
	.form_footer{
		width: 430px;
	}
}
@media (max-width: 467px){
		.form_footer{
		width: 100%;
	}
	.form-control_footer{
	border-bottom: 1px solid #3e3f3f;
	padding: 10px 0;
	margin: 5px 0 20px;
}
}
/*================== bg_section_1 end ===================*/
/*=====================    таймер   =====================*/
#clockdiv{
	font-family: sans-serif;
	color: #fff;
	display: flex;
	flex-flow: row nowrap;
	align-content: stretch;
	width: 450px;
	font-size: 5rem;
	margin:1.5rem auto
}

.clockdiv_inner{
	flex: 1;
	align-content: stretch;
	border-right: 1px solid #959696;
}
.clockdiv_inner:last-child{
	border-right: 0;
}
#clockdiv .clockdiv_inner > span{
	display: inline-block;
	font-weight: bold;
}

.smalltext{
	padding-top: 5px;
	font-size: 14px;
}
@media (max-width: 767px){
	#clockdiv{
		font-size: 3rem;
		width: auto;
	}
}
/*=======================================================*/
/*========================  btn  ========================*/
.btn_wrap{
	display: flex;
	justify-content: center;
	margin-top: 5rem;
}
.btn{
	background: linear-gradient(90deg, rgba(242,95,90,1) 0%, rgba(199,44,142,1) 34%, rgba(123,66,189,1) 99%, rgba(123,66,189,1) 100%);
	text-transform: uppercase;
	padding: 20px 35px;
	color: #fff;
	font-size: 0.9rem;
	font-weight: bold;
	border-radius: 30px;
}
@media (max-width: 767px){
	.btn{
		padding: 15px 23px;
		font-size: 0.8rem;
	}
	.btn_wrap{
	margin-top: 3rem;
}
}
/*===============  карусель  ===============*/
.contener_owl{
    margin: 3px 3px;
    position: relative;
    box-shadow: 2px 1px 2px #c4c4c4, -2px 0px 2px #c4c4c4;
}
.wrap_img_owl{
	width: 100%;
	height:370px;
}
.like{
	position: absolute;
	right: 9%;
	bottom: 10.5%;
}
.like > span{
	color: #fff;
	padding-left:23px;
}
@media (max-width: 1200px){
.wrap_img_owl{
	width: 100%;
	height:270px;
}
	.like{
	right: 10%;
}
	.like > span{
	padding-left: 16px;
	font-size: 12px;	
}
}
@media (max-width: 980px){
.wrap_img_owl{
	width: 100%;
	height:310px;
}
		.like{
	right: 8%;
	bottom: 11.5%;		
}
	.like > span{
	padding-left: 22px;
	font-size: 16px;	
}
}
@media (max-width: 767px){
.wrap_img_owl{
	height:400px;
}
	.like{
    right: 10%;
    bottom: 11%;		
}
	.like > span{
	padding-left: 30px;
	font-size: 16px;	
}
}
	@media (max-width: 467px){
   .wrap_img_owl{
	height:270px;
}
			.like{
    right: 9%;
    bottom: 10%;		
}
	.like > span{
    padding-left: 14px;
    font-size: 12px;	
}
}

/*======================================*/
.li_dots:before{
	content: '';
	position: absolute;
	width: 5px;
	height: 5px;
	background: #000;
	left: -48px;
	top: 8px;
	border-radius: 50%;
}
.fas{
	font-size: 40px;
	margin-right: 30px;
}
ul{

}
.ul_dots .li_dots{
	margin-left: 66px;
}
.ul_dots, .ul_check{
	width: 30rem;
    margin: auto;
}

.master_class .ul_dots
{
		padding: 50px 0;
	border-bottom: 1px solid #cccccc;
}
.master_class .ul_check{
	margin: 3rem auto 3.75rem;
	padding: 0 0 50px;
	border-bottom: 1px solid #cccccc;
}
.ul_check{
	padding: 0;
	margin: 3rem auto 3.75rem;
}
ul li{
	position: relative;
	margin: 10px auto;
	display: flex;
	align-items: center;
	margin-bottom: 30px;
	}
.ul_check h4{

}
.circle{
	width: 40px;
	height: 40px;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 25px;
	color: #fff;
	margin-right: 25px
}
/*

.comand{
	display: flex;
	flex-flow: column;
	align-items: center;
	background: #ed6c8a;
}
.comand > h4{
	color: #fff;
}
*/
@media (max-width: 767px){
	.ul_dots, .ul_check{
		width: 20rem;
		margin: auto;
}
	h3 {
		font-size: 2rem;
		font-weight: 600;
	}
	.master_class h2{
		font-size: 1.5rem;
	}
}
@media (max-width: 467px){
	.ul_dots, .ul_check{
		width: 100%;
		margin: auto;
}
}
/*==================== gallery  ===================*/
img{
    width: 100%;

    height: auto;
	object-fit:cover;
	object-position: center center;
}


.gallery {
   width: 100%;
   height: 45vw;
   display: flex;
   flex-flow: row wrap;

}
.gallery .wrap_gallery img{
   width: 100%;
   height:100%;
   object-fit:cover;
	object-position: center center;
}

.block {
  box-sizing: border-box;
  background: #fff;
  color: #fff;
	position: relative;
	width: 100%;
	height: 50vw;
	overflow: hidden;
}
.gallire{
		 position:absolute;
	 left:0; right:0;
	 opacity:0; 
	 animation-name: fade;
	 animation-duration: 10s;
	 animation-iteration-count: infinite;
	
}
.wrap_gallery{
  width: calc(50%);
  height: calc(100%);
  display: flex;
  flex-flow: row wrap;
}
.block1 {
  width: calc(100% - 0px);
  height: calc(100% - 0px);
	background: #fff;
}
.block3,
.block2 {
  width: calc(50% - 0px);
  height: calc(50% - 0px);
	background: #fff;
}
.block4,
.block5 {
  width: calc(50% - 0px);
  height: calc(50% - 0px);
	background: #fff;
}
@keyframes fade { 
     0% { opacity: 0; } 
     11.11% { opacity: 1; } 
     33.33% { opacity: 1; } 
     44.44% { opacity: 0; } 
     100% { opacity: 0; } 
 } 

 .gallire:nth-child(1) { animation-delay: 0s; } 
 .gallire:nth-child(2) { animation-delay: 3s; } 
 .gallire:nth-child(3) { animation-delay: 6s; }
@media (max-width: 767px){
	.gallery{
		height: auto;
	}
	.wrap_gallery{
		width: calc(100%);
	}
.block1 {
  	width: calc(100% - 0px);
  	height:90vw;

}
.block3,
.block2 {
  width: calc(50% - 0px);
  height:50vw;

}
.block4,
.block5 {
  width: calc(50% - 0px);
  height:50vw;

}
}
@media (max-width: 467px){
		.wrap_gallery{
		width: calc(100%);
	}
.block3,
.block2 {
  width: calc(100% - 0px);
  height:90vw;
}
.block4,
.block5 {
  width: calc(100% - 0px);
  height:90vw;
}
}

/*==================== gallery  ===================*/
.col_wrap{
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 5rem 0;
}
.col_item{
	width: calc(45%);
}
.col_item p{line-height: 1.5rem;}
.col_item:last-child{
	width: 250px;
	display: flex;
	justify-content: space-between;
	flex-flow: row nowrap;
}
.svg_icon{
	width: 50px;
	height: 50px;
	background: #000;
	border-radius: 50%;
	padding: 8px;
	box-sizing: border-box;
}
@media (max-width: 1200px){
	.col_wrap{
		flex-flow: column;
	}
	.col_item{
	width:500px;
		text-align: center;
}
}
@media (max-width: 767px){
		.col_item{
	width:440px;
		text-align: center;
}
	.col_item:last-child{
		margin-top: 1.5rem;
	}
	@media (max-width: 467px){
		.zag_wrap h5{
			width: 100%;
			font-size: 1.2rem;
			line-height: 1.5rem
		}
	}
}
/*================  форма  =================*/



.overlay {
	position: absolute;
	width: 100%;
	height: 100vh;
	top: 0;
	left: 0;
	background-color: rgba(0, 0, 0, .5);
	display: none;
}

.popup {
	position: absolute;
	width: 300px;
	height: 180px;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	padding: 40px;
	background-color: #FFF;
}

.close-popup {
	position: absolute;
	top: 15px;
	right: 15px;
	width: 23px;
	height: 23px;
	cursor: pointer;
}

.close-popup:before {
	content: '';
	background-color: #000;
	position: absolute;
	height: 1px;
	width: 31px;
	top: 11px;
	left: -4px;
	transform: rotate(-45deg);
}

.close-popup:after {
	content: '';
	background-color: #000;
	position: absolute;
	height: 1px;
	width: 31px;
	top: 11px;
	transform: rotate(45deg);
	left: -4px;
}






